<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Task: Gallery</title>
    <!-- modern normalize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- External css -->
    <link rel="stylesheet" href="../css/styles.css" />
    <!-- External js -->
    <script type="module" src="../js/1-gallery.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="nav">
          <ul class="nav-bar">
            <li class="nav-item">
              <a href="./1-gallery.html" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="./2-form.html" class="nav-link">Form</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="container">
        <ul class="gallery"></ul>
      </section>
    </main>
  </body>
</html>
