<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keyboard move</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="task keyboard-task">
      <h2>Keyboard move</h2>
      <p class="direction">Останній рух: —</p>
      <div class="field">
        <div class="box" tabindex="0"></div>
      </div>
    </section>
    <!-- External js -->
    <script type="module" src="../js/move-square.js"></script>
  </body>
</html>
